*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title{
  font-size: 40px;
  text-align: center;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 15px;
  border-bottom: 5px dashed #ecf0f1;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
  background-color: #34495e;
  height: 100vh;
  position: fixed;
  width: 100%
}

.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 570px;
  width: 100%;
}

.stats{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 20px;
  gap: 50px;
}

.back{
  text-decoration: none;
  color: #34495e;
  background-color: #ecf0f1;
  border: 1px solid #34495e;
  padding: 10px;
  border-radius: 5px;
}

.back:hover{
  color: #ecf0f1;
  background-color: #34495e;
  border: 1px solid #ecf0f1;
}

.back:active{
  color: #34495e;
  background-color: #95a5a6;
  border: 1px solid #ecf0f1;
}

span{
  padding: 5px;
  color: #000;
}