*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title{
  font-size: 40px;
  text-align: center;
  background-color: #000;
  color: rgb(156, 192, 110);
  padding: 15px;
  border-bottom: 5px dashed #FFF;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
  background-color: rgb(156, 192, 110);
  height: 100vh;
  position: fixed;
  width: 100%
}

.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 570px;
  width: 100%;
}

.stats{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 20px;
  gap: 50px;
}

.stats-info {
  display: flex;
  padding: 10px;
  border: 3px double #000;
  border-radius: 5px;
  margin-top: auto;
  background-color: rgb(156, 192, 110);
}

.stats-info > div {
  margin: 5px;
  padding: 10px;
  background-color: rgb(156, 192, 110);
  border: 3px double #000;
  border-radius: 3px;
}

.back{
  text-decoration: none;
  color: #000;
  background-color: #FFF;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
}

.back:hover{
  color: #FFF;
  background-color: #000;
  border: 1px solid #FFF;
}

.back:active{
  color: #FFF;
  background-color: rgb(136, 136, 136);
  border: 1px solid #FFF;
}

.contador {
  color: black;
  border: 1px solid #000;
  background-color: #FFF;
}

span{
  padding: 5px;
  color: #FFF;  
}