*{
  margin: 0;
  padding: 0;
}

.options-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 15px;
  gap: 10px;
  height: 100%;
}

.option{
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.option:hover{
  background-color: #000;
}

.option:active{
  background-color: rgb(136, 136, 136);
  border: 1px solid #FFF;
}