.stats-info {
  display: flex;
  padding: 10px;
  border: 3px double #000;
  border-radius: 5px;
  margin-top: auto;
  background-color: rgb(156, 192, 110);
}

.stats-info > div {
  margin: 5px;
  padding: 10px;
  background-color: rgb(156, 192, 110);
  border: 3px double #000;
  border-radius: 3px;
}

.contador {
  color: black;
  border: 1px solid #000;
  background-color: #FFF;
}